<!-- <div class="timeline">
  <span class="title">2021/3/30 行程表</span>
  <div class="parent">
    <div class="line-group">
      <div *ngFor="let e of [].constructor(5); let i = index" class="line">
        <span>{{(i) * 6}}</span>
      </div>
    </div>

    <div class="child child1">  </div>
    <div class="child child2"></div>
  </div>
</div> -->

<label for="file">File:</label>
<input type="file" (change)="upload($event)" accept=".png,.jpg" />
<input type="file" (change)="onChange($event.target.files)" accept=".txt" />

<!-- <p>{{fileContent}}</p> -->

<!-- <p *ngFor="let line of lines; let i = index">{{i}}. {{line}}</p> -->

<!-- <p *ngFor="let msg of msgArray; let i = index">
  {{i}}. {{ msg.time }} {{ msg.member }} <span [innerText]="msg.content"></span>
</p> -->

<div *ngFor="let msg of msgArray; let i = index" class="row">
  <div *ngIf="msg.type=='message'" class="col">
    <div [className]="msg.member===members[0] ? 'msgBox-right': 'msgBox-left'">
      <span [innerText]="msg.content"></span>
      <time> {{ msg.time }} </time>
    </div>
  </div>
</div>
